@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.aboutContainer {
  margin :100px 0px 0px 0px;
  padding: 50px 280px;
  background-color: #9dc6cd;
  color: #000000;
  text-align: center;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 10%;
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #0f4d55;
  font-family:Noto Serif;
  /* Gold color for the title */
}

.contentBox {
  display: grid;
  grid-template-columns: 1fr 10px 2fr;
  align-items: center;
  margin: 20px 0px;
  background-color: #000000;
  padding: 20px 0px;
  background: #d0cfcf;
  /* Semi-transparent background */
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.class {
  text-align: right;
  padding-right: 20px;
}

.head1 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

.head1 span {
  font-size: 1rem;
  color: #e18c2b;
  /* Gold color for the date */
}

.vl {
  width: 2px;
  height: 100%;
  background: #e18c2b;
  /* Gold color for the vertical line */
}

.detail {
  text-align: left;
  padding-left: 20px;
  
}

.line1 {
  font-size: 1rem;
  font-weight: 800;
  margin: 0;
  color: #e18c2b;
  /* Gold color for the major text */
}

.line2 {
  font-size: 1rem;
  color: #000000;
  margin: 5px 0 0 0;
}
@media(max-width: 600px) {
  .contentBox {
      grid-template-columns: 1fr;
      align-items: center;
      margin: 10px 0px 20px 150px;
    }
}

/* Responsive Styles */
@media (max-width: 768px) {
  .aboutContainer {
    padding: 20px;
  }

  .contentBox {
    grid-template-columns: 1fr;
    align-items: center;
              margin: 10px 0px 20px 50px;
  }
    .title {

      font-size: 1.5rem;
    }
        .contentBox {
          width: 350px;
        }


  .class,
  .detail {
    text-align: center;
    padding: 0;
  }

  .vl {
    display: none;
  }

  .head1 span,
  .line1,
  .line2 {
    display: block;
    font-size: 0.9rem;
  }

  .head1 {
    font-size: 0.9rem;
  }

  .line1 {
    font-size: 0.9rem;
  }

  .line2 {
    font-size: 0.9rem;
  }
}

@media(max-width:472px) {

.contentBox {

  margin: 10px 30px 10px 0px;
}

}