@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.contactSection {
  text-align: center;
  padding: 50px 20px;
  max-width: 600px;
  margin: 0 auto;
  
}

.title {
  
  font-size: 2.5em;
  margin-bottom: 20px;
  font-family: Noto Serif;
  color:rgb(255, 255, 255);
  text-decoration: underline;
  
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid white;
  background-color: #9dc6cd;
  border-radius: 20px;
  padding: 50px;
}

.label {
  font-size: 1.1em;
  font-weight: bold;
  text-align: left;
  color: rgb(0, 0, 0);
}

.input,
.textarea {
  padding: 12px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.textarea {
  height: 150px;
  resize: vertical;
}

.button {
  padding: 10px 20px;
  font-size: 1.5em;
  color: white;
  background-color: #0f4d55;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #1b9ffc;
}