.homeContainer{
  display: flex;
  height: auto;
  width: 89%;
  margin-left: 3%;
  margin-top: 5%;
  margin-bottom: 20px;
  font-family: "Poppins" , sans-serif;
}
.content{
  padding: 0px;
  width: 60%;
  height: auto;
  padding: 20px 0px 0px 100px;
  /* border: 2px solid red; */
}

.line1{
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 15px;
  color: whitesmoke;
}


.line2{
  font-size:30px ;
  font-weight: 600;
  margin-bottom: 0px;
  color: #cff8d3;
}
.line3{
  font-size: 25px;
  font-weight: 400;
  text-decoration: underline;
  margin-bottom: 20px;
  text-transform: capitalize;
  word-spacing: 10px;
  font-weight: 300;
  color: #e18c2b;
}
.line4{
  font-size:17px;
  font-weight:400;
  line-height:30px;
  color:  #e8e2e2;
  text-align: justify;

}
.resume{
  height: 35px;
  width: 130px;
  font-size: 12px;
  margin-top: 30px;
  background-color: #0f4d55;
  color: #e18c2b;
  border-radius: 5px;
  font-weight: 700;
  text-transform: uppercase;
  border: 2px solid #e18c2b ;
  cursor: pointer;
}
.resume:hover{
  color: #e8e2e2;
  transition: 1.5s;
}
.hire{
  height: 35px;
  margin-left: 50px;
  width: 130px;
  font-size: 12px;
  margin-top: 30px;
  background-color:#0f4d55;
  color: #e18c2b;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px;
  border: 2px solid #e18c2b;
  cursor: pointer;
}
.hire:hover {
  color: #e8e2e2;
  transition: 1.5s;
}

.profile{
  width: 400px;
  height: 380px;
  margin-left: 120px;
 
  background-size:300px;
  background-image: url("./Media/akash.jpg");
  background-position: center;
  border-radius: 50%;
  /* border: 2px solid black; */
  background-color: #abaaa7;
  object-fit: cover;
  background-repeat: no-repeat;
  
}

@media (max-width: 1024px) {
  .homeContainer {
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .content {
    width: 100%;
    padding-left: 30px;
    margin: 10px 0px 20px 0px;
    
  }
  .profile {
    width: 50%;
    height: 250px;
    margin: 40px 40px ;
    background-position: center;
    object-fit: cover;
    background-size: 300px;
    background-position-y: -30px;
    background-position-x: -20px;
  }
  
  .line1 {
    font-size: 25px;
  }
  .line2 {
    font-size: 25px;
  }
  .line3 {
    font-size: 20px;
  }
  .line4 {
    font-size: 15px;
  }
  .resume, .hire {
    width: 100px;
    font-size: 10px;
  }
}

@media (max-width: 580px) {
  .homeContainer {
    width: 400px;
    height: 300px;
    
    flex-direction: column;
    display: flex;
     align-items: center;
     transform: translateY(-10px);
  }
  .content {
    width: 400px;
    padding:0px;
        margin: 40px 0px 0px 50px;
        word-spacing: 0px;
        
  }
  .profile {
    
    /* padding-bottom: 60px; */
  }
  .line1 {
    font-size: 22px;
    line-height: 5px;
  }
  .line2 {
    font-size: 24px;
    margin-bottom: 10px;
    
  }
  .line3 {
    font-size: 18px;
    
  }
  .line4 {
    font-size: 16px;
    line-height: 25px;
  }
  .resume,.hire {
    font-size: 10px;
    margin-left: 0px;
    width: 100px;
    transform: translateY(
      -20px);
    
  }
  .hire{
      margin-left: 50px;
  }
}

@media(max-width:472px){
 
  
  .content {
    
    width: 400px;
    margin-left: 10px;
  }
  .line4{
    font-size: 14px;
  }
}